repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      - id: ruff
        args: [ --fix ]
        files: '^src/.*\.py$'
      - id: ruff-format
        files: '^src/.*\.py$'

  - repo: local
    hooks:
      - id: mypy
        name: mypy (local env)
        args: [--strict]
        entry: uv run mypy
        language: system
        types: [python]
        files: 'src/.*\.py$'
      - id: coverage
        name: Check test coverage
        entry: uv run pytest --cov=src --cov-report=term --cov-fail-under=80
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
